body {
    background-image: url('../imgs/Фон\ 1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Ubuntu';
    font-style: normal;
}

h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
}

.container {
    max-width: 325px;
    margin: 0 auto;
}

/* header*/

.heder_nav_journey {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 58px;
    padding: 0 79px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.heder_nav_journey:hover {
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.41;
}

.heder_nav_journey_titel {
    padding: 18px 0px;
}

.heder_nav_journey_titel:hover {
    color: #01813F;
}

.heder_nav_journey_icons {
    display: flex;
    align-items: center;
}

.heder_nav_journey_icons_items {
    margin-right: 24px;

}

.heder_nav_journey_icons_items:hover .part {
    stroke: #01813F;
    fill: #01813F;
}

.margin_none {
    margin-right: 0;
}

.heder_nav_journey_icons_text {
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    padding-left: 48px;
}

.heder_nav_journey_icons_text::before {
    content: "";
    position: absolute;
    min-width: 1px;
    min-height: 19px;
    left: 27px;
    top: 0px;
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
}

.heder_nav_journey_icons_text_link {
    color: #FFFFFF;
}

.heder_nav_journey_icons_text_link:hover {
    color: #01813F;
}

/* Form */
.main_form {
    position: absolute;
    max-width: 444px;
    width: 100%;
    left: calc(50% - 444px/2);
    top: calc(50% - 584px/2 + 58px);
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);

}

.main_form_content {
    display: flex;
    flex-direction: column;
}

.main_form_content_logo {
    display: flex;
    justify-content: space-between;
    padding-top: 31px;

}

.main_form_content_logo_titel {
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    position: relative;
}

.main_form_content_logo_titel::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    left: -59.5px;
    top: 0px;
    background: #3CB878;
}

.main_form_content_logo_titel_logo {
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}

.main_form_content_logo_titel_logo:hover {
    color: #01813F;
    text-decoration: underline;

}

.main_form_content_button {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.button_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}

.link_box {
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    display: flex;
    align-items: center;

}

.main_form_content_button_facebook_link {
    background: #305DB8;
    padding: 12px 23px 12px 0px;

}

.main_form_content_button_facebook_link:hover {
    background: #022263;
}



.main_form_content_button_facebook_link_img {
    margin: 0px 32px 0px 11px;
}

.main_form_content_button_google_link_img {
    margin: 0px 38px 0px 12px;
}

.link_box::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 28px;
    top: 10px;
    left: 47px;
    background: #2B0D09;
    mix-blend-mode: normal;
    opacity: 0.1;

}

.main_form_content_button_google_link {
    background: #DF4A32;
    padding: 15px 28px 14px 0px;
}

.main_form_content_button_google_link:hover {
    background: #AB1F09;
}


.main_form_content_text_or {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    margin-top: 31px;
    position: relative;
    margin-bottom: 12px;
}

.main_form_content_text_or::before{
    content: '';
    display: block;
    min-width: 152px;
    height: 1px;
    background: #F2F2F2;
    position: absolute;
    top: calc(50%);
    left: 0;
}

.main_form_content_text_or::after {
    content: '';
    display: block;
    min-width: 152px;
    height: 1px;
    background: #F2F2F2;
    position: absolute;
    top: calc(50%);
    right: 0;
}

.main_form_content_input {
    display: flex;
    flex-direction: column;
    gap: 15px 0px;
    margin-bottom: 12px;
}

.main_form_content_input_items {
    display: flex;
}

#username,
#lastname,
#email,
#password {
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding: 16px 0px 15px 20px;
    flex: 1 0 auto;

}

#username::placeholder,
#lastname::placeholder,
#email::placeholder,
#password::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}

#username:focus,
#lastname:focus,
#email:focus,
#password:focus {
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}

#username:focus::placeholder,
#lastname:focus::placeholder,
#email:focus::placeholder,
#password:focus::placeholder {
    color: #434343;
}

/* button botton*/

.main_form_content_input_checkbox {
    display: flex;
    align-items: center;
    position: relative;

}

.main_form_content_input_checkbox_items_label {
    color: #434343;
    padding-left: 28px;
}

.main_form_content_input_checkbox_text_grin {
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    padding-left: 4px;
}

.main_form_content_input_checkbox_text_grin:hover{
    color: #01813F;
    text-decoration: underline #01813F;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked+label:before,
input[type="checkbox"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
}

input[type="checkbox"]:checked+label:after,
input[type="checkbox"]:not(:checked)+label:after {
    content: '';
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked+label:after,
input[type="checkbox"]:not(:checked)+label:after {
    width: 8px;
    height: 18px;
    left: 6px;
    top: -2px;
    border: 2px solid #3CB878;
    border-width: 0px 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);

}

input[type="checkbox"]:not(:checked)+label:after {
    opacity: 0;
}

input[type="checkbox"]:checked+label:after {
    opacity: 1;
}


.main_form_content_button_submit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    padding: 16px 0px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    margin-top: 20px;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    margin-bottom: 38px;
}

.main_form_content_button_submit:hover {
    background: #01813F;
    border-radius: 4px;
}